@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
